@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue';
}

header {
    background-color: #489F78;
    height: 80px;
}

header img:hover {
    filter: brightness(70%);
    transform: scale(0.9);
}

body {
    background-color: #F3E7DE;
}
  
.titulo  {
  color: #557C70;
  font-size: 36px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-weight: normal;
}

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.texto h2 {
  color: #557C70;
  text-align: center;
  font-size: 18px;
}

.greenstudy {
    color: #90C757;
    white-space: nowrap;
    margin-top: 50%;
}

.login {
    width: 148px;
    height: 75px;
    position: absolute;
    right: 2%;
    top: 0;
}

.logo {
  width: 30%;
  position: absolute;
  margin-top: 75px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.greenBranco {
    margin-left: 1rem;
    position: absolute;
    top: 15px;
}

.planta {
    position: absolute;
    left: 235px;
    height: 80px;
}

.btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    text-align: center;
}

.btn img {
    width: 250px;
    height: 228px;
    margin: 0 5px; /* Adicione margens laterais entre as imagens, se desejar */
}

  